# ignore all files
*

# include all folders
!**/

# whitelist certain folders
!/*
!/api/src/main/openapi/*
!/api/src/main/resources/*
!/api/src/main/resources/static/*
!/@geogebra/**
!/config/*
!/docs/*
!/solver-poker/**

# Blacklist these
Pipfile.lock
node_modules
/helm
/@geogebra/**/dist
/@geogebra/**/lib
/@geogebra/**/coverage
/@geogebra/**/.nyc_output
/@geogebra/**/node_modules
/@geogebra/**/.npm
/solver-poker/test-results-src/test-results.ts
