# ignore all files
*

# include all folders
!**/

# whitelist certain folders
!/*
!/api/src/main/openapi/*
!/api/src/main/resources/*
!/api/src/main/resources/static/*
!/solver-sdk/**
!/config/*
!/docs/*
!/solver-poker/**
!/.vscode/**

# Blacklist these
Pipfile.lock
node_modules
/helm
/solver-sdk/dist
/solver-sdk/lib
/solver-sdk/coverage
/solver-sdk/.nyc_output
/solver-sdk/node_modules
/solver-sdk/.npm
/solver-poker/test-results-src/test-results.ts
