@import url('jsondiffpatch-rc/dist/formatters-styles/html.css');
/* @import url('jsondiffpatch-rc/dist/formatters-styles/annotated.css'); */

:root {
  --highlight-red: rgba(248, 81, 73, 0.2);
  --highlight-green: rgba(46, 160, 67, 0.25);
  --highlight-yellow: rgba(255, 251, 0, 0.12);
}
@media (prefers-color-scheme: light) {
  :root {
    --highlight-yellow: rgba(255, 251, 0, 0.4);
  }
}

.jsondiffpatch-added .jsondiffpatch-property-name,
.jsondiffpatch-added .jsondiffpatch-value pre,
.jsondiffpatch-modified .jsondiffpatch-right-value pre,
.jsondiffpatch-textdiff-added {
  background: var(--highlight-green);
}
.jsondiffpatch-deleted .jsondiffpatch-property-name,
.jsondiffpatch-deleted pre,
.jsondiffpatch-modified .jsondiffpatch-left-value pre,
.jsondiffpatch-textdiff-deleted {
  background: var(--highlight-red);
  text-decoration: none;
}
.jsondiffpatch-unchanged,
.jsondiffpatch-movedestination {
  color: gray;
}
.jsondiffpatch-moved .jsondiffpatch-moved-destination {
  background: var(--highlight-yellow);
  color: #888;
}
.jsondiffpatch-moved .jsondiffpatch-moved-destination:before {
  content: ' => ';
}
.jsondiffpatch-textdiff-location {
  color: #bbb;
}
.jsondiffpatch-textdiff-line-number:after {
  content: ',';
}
.jsondiffpatch-error {
  background: red;
  color: white;
  font-weight: bold;
}
